body {
    margin-top: 05%;
    background-color: #8f8b83b6;
    margin-left: 05%;
    margin-right: 05%;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background-color: #0c0c0cea;
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    color: rgb(238, 202, 43)
}

h2 {
   
    color: #0c0c0cea;
    background-color: rgb(238, 202, 43);
    font-size: 30px;
    text-align: center;
    padding: 7px;
  
}

h3 {
    text-align: justify;
    font-size: 25px;
    background-color: #0c0c0cea;
    color: rgb(238, 202, 43)
}

p {  
    text-align: justify;
    font-size: 25px;
    color: #0c0c0cea;
}

#paragrafo1 {
    border-style: dotted;
    text-align: center;
}
   
#imagem-1 {
    width: 100%;
}

.Nossos-cursos {
    text-align: justify;
    font-size: 20px;
}

.administração {
    display: inline-block;
    text-align: left;
    width: 48%;
    
}

.tecnologias {
    display: inline-block;
    text-align: right;
    width: 48%;
    
}

.kids1 {
    display: inline-block;
    text-align: right;
    width: 48%;
    
}

.menoraprendiz {
    display: inline-block;
    text-align: right;
    width: 48%;
   
}
li {
    display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
    font-size: 20px;
    text-align: justify;
}


